[[migxrecipes_generateContent]]
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="[[++modx_charset]]">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="[[*description]]">
<meta name="author" content="[[*createdby:userinfo=`fullname`]]">
<base href="[[++site_url]]">
<title>[[++site_name]] - [[*pagetitle]]</title>
<link href="assets/theme/css/bootstrap.min.css" rel="stylesheet">
<link href="assets/theme/css/business-casual.css" rel="stylesheet">
<link href="assets/theme/css/jf.css" rel="stylesheet">
<!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</head>
<body>
[[!QuickBar? &tpl=`quickbarTpl`]]
[[$header]]
[[$menubar]]
<div class="container">
  

  <div class="row">
    <div class="box">
      <div class="col-lg-12">
        [[pdoCrumbs? &hideSingle=`1`]]
        <hr>
        [[*content]]
      </div>
    </div>
  </div>

</div> <!-- /.container -->

[[$footer]]

<script src="assets/theme/js/jquery.js"></script>
<script src="assets/theme/js/bootstrap.min.js"></script>


</body>
</html>